.mdi-toolbar-icons button span {
	font-size: 40px !important;
}

.main-layout-toolbar .webix_el_label .webix_el_box {
	font-size: 22px;
}

.mdi-lead-pencil:hover {
	cursor: pointer;
}

.users .webix_dataview_item,
.users .webix_dataview_item.webix_selected {
	padding         : 3px 2px;
	border-color    : #fff;
	background-image: none;
	background-color: #fff;
}

.users .webix_dataview_item.webix_selected .overall {
	background-color: #DBFFB0;
	background      : -moz-linear-gradient(top, #DBFFB0 0%, #D0F4A4 100%);
	background      : -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBFFB0), color-stop(1, #D0F4A4));
	background      : -o-linear-gradient(top, #DBFFB0 0%, #D0F4A4 100%);
	background      : -ms-linear-gradient(top, #DBFFB0 0%, #D0F4A4 100%);
	background      : -moz-linear-gradient(top, #DBFFB0 0%, #D0F4A4 100%);
	background      : -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBFFB0), color-stop(1, #D0F4A4));
}

.overall {
	border-radius        : 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius   : 8px;
	height               : 160px;
	padding              : 10px;
	color                : #303030;
	text-shadow          : 0 1px 0 #FFFFFF;
	background-color     : #e1e4ea;
	background           : -webkit-gradient(linear, left top, left bottom, color-stop(0, #edeff4), color-stop(1, #e1e4ea));
	background           : -o-linear-gradient(top, #edeff4 0%, #e1e4ea 100%);
	background           : -ms-linear-gradient(top, #edeff4 0%, #e1e4ea 100%);
	background           : -moz-linear-gradient(top, #edeff4 0%, #e1e4ea 100%);
	background           : -webkit-gradient(linear, left top, left bottom, color-stop(0, #edeff4), color-stop(1, #e1e4ea));
	box-shadow           : 0px 1px 1px #d4d7de;
	display              : flex;
	box-sizing           : border-box;
	position             : relative;
}

.overall.proposals.rejected {
	background-color: #ff5858;
	background      : -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff5858), color-stop(1, #e1e4ea));
	background      : -o-linear-gradient(top, #ff5858 0%, #e1e4ea 100%);
	background      : -ms-linear-gradient(top, #ff5858 0%, #e1e4ea 100%);
	background      : -moz-linear-gradient(top, #ff5858 0%, #e1e4ea 100%);
	background      : -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff5858), color-stop(1, #e1e4ea));
	box-shadow      : 0px 1px 1px #d4d7de;
	color           : white;
}

.overall.proposals.completed {
	background-color: #2ebb51;
	background      : -webkit-gradient(linear, left top, left bottom, color-stop(0, #2ebb51), color-stop(1, #2ebb51));
	background      : -o-linear-gradient(top, #2ebb51 0%, #e1e4ea 100%);
	background      : -ms-linear-gradient(top, #2ebb51 0%, #e1e4ea 100%);
	background      : -moz-linear-gradient(top, #2ebb51 0%, #e1e4ea 100%);
	background      : -webkit-gradient(linear, left top, left bottom, color-stop(0, #2ebb51), color-stop(1, #2ebb51));
	box-shadow      : 0px 1px 1px #d4d7de;
	color           : white;
}

.overall.proposals.accepted {
	background-color: #45ecf1;
	background      : -webkit-gradient(linear, left top, left bottom, color-stop(0, #45ecf1), color-stop(1, #45ecf1));
	background      : -o-linear-gradient(top, #45ecf1 0%, #e1e4ea 100%);
	background      : -ms-linear-gradient(top, #45ecf1 0%, #e1e4ea 100%);
	background      : -moz-linear-gradient(top, #45ecf1 0%, #e1e4ea 100%);
	background      : -webkit-gradient(linear, left top, left bottom, color-stop(0, #45ecf1), color-stop(1, #45ecf1));
	box-shadow      : 0px 1px 1px #d4d7de;
	color           : white;
}

.mdi-autorenew {
	color: darkgrey;
}

.mdi-check-all {
	color: green;
}

.overall .proposal-button-section {
	display        : flex;
	justify-content: flex-end;
	margin-top     : 10px;
}

.overall .proposal-button-section section {
	height          : 40px;
	background-color: white;
	border          : 1px solid darkgrey;
	border-radius   : 50%;
	flex-basis      : 40px;
	margin-right    : 10px;
	text-align      : center;
	padding-top     : 6px;
	box-sizing      : border-box;

}

.overall .proposal-button-section section:hover {
	cursor: pointer;
}

.mdi:hover {
	cursor: pointer;
}

.productRegistrationLayout {
	position: relative;
}

.productRegistrationLayout .dollar-label {
	position: absolute;
	left    : 325px;
}

.proposal-button-section section i {
	font-size: 25px !important;
}

.overall.proposals {
	flex-direction : column;
	justify-content: space-between;
	height         : 240px;
}

.mdi-close {
	color: red;
}

.mdi-check {
	color: green;
}

.overall.proposals>div {
	/* flex-basis: 100%; */
}

.overall.proposals p {
	margin: 0;
}

.overall .avatar {
	width  : 130px;
	display: inline-block;
	height : 130px;
}

.overall .avatar img {
	width : 100%;
	height: 100%;
}

.overall .user_information {
	display    : inline-block;
	margin-left: 40px;
	position   : relative;
}

.overall .user_information .snp {
	font-weight: 600;
	margin-top : 24px;
}

.overall .user_information .phone {
	position: absolute;
	bottom  : 0;
}

.overall .user_information .phone span {
	font-weight: 500;
}

.overall .mdi {
	font-size: 20px;
}

.overall .mdi-lead-pencil {
	position: absolute;
	right   : 10px;
}

.overall .mdi-delete {
	position: absolute;
	right   : 10px;
	bottom  : 10px;
}

.overall .mdi-delete:hover {
	cursor: pointer;
}

.avatar-block {
	position: relative;
}

.avatar-overlay .form-group {
	margin-top: 72px;
}

.avatar-overlay input[type=file] {
	outline       : 0;
	opacity       : 0;
	pointer-events: none;
	user-select   : none;
	margin        : 0;
}

.avatar-overlay .label {
	display   : block;
	padding   : 7px;
	transition: border 150ms ease;
	cursor    : pointer;
	text-align: center
}

.avatar-overlay .label i {
	display       : block;
	font-size     : 76px;
	padding-bottom: 16px
}

.avatar-overlay .label span {
	font-size : 25px;
	text-align: end;
}

.avatar-overlay .label i,
.avatar-overlay .label .title {
	color     : grey;
	transition: 200ms color
}

.avatar-overlay .label:hover i,
.avatar-overlay .label:hover .title {
	color: #000
}


.avatar-block .avatar-overlay {
	position        : absolute;
	width           : 275px;
	height          : 275px;
	top             : 0;
	background-color: rgba(241, 241, 226, 0.4);
	border          : 1px solid transparent;
	box-sizing      : border-box;
	border-radius   : 50%;
}

.avatar-block,
.avatar {
	height: 100%;
}

.avatar img {
	width        : 100%;
	height       : 100%;
	border       : 1px solid transparent;
	box-sizing   : border-box;
	border-radius: 50%;
}

.hidden-block {
	display: none;
}

.webix_dataview_item:hover {
	cursor: default;
}

.mdi-eye:hover {
	cursor: pointer;
}

.boxy .webix_template {
	display        : flex;
	justify-content: center;
	flex-direction : column;
	text-align     : center;
}

.supplierInformation p {
	margin       : 0;
	margin-bottom: 5px;
}

.supplierInformation h3 {
	font-size: 15px;
}